openapi: 3.0.0
info:
  title: Video Game Bulletin (VGB) API
  description: 
    A RESTful API serving real-time information for video game releases, supporting read, administrative CRUD, and interactive user features.
  version: 1.0.0
servers:
  - url: https://api.videogamebulletin.com/v1
    description: Production Server (Deployed)
  - url: http://localhost:8080/v1
    description: Local Development Server

tags:
  - name: Games
    description: Public endpoints for retrieving game release data.
  - name: Administration
    description: Admin-only endpoints for content management (CRUD).
  - name: Users
    description: User authentication and interactive features (Comments, Favorites).

# --- REUSABLE COMPONENTS (SCHEMAS, RESPONSES, SECURITY) ---
components:
  schemas:
    # 1. Game Model (Core Data)
    Game:
      type: object
      required:
        - title
        - release_date
        - platforms
        - genre
      properties:
        game_id:
          type: string
          readOnly: true
          description: Unique Firebase Document ID.
        title:
          type: string
          example: 'Elden Ring 2'
        release_date:
          type: string
          format: date
          example: '2026-02-25'
        platforms:
          type: array
          items:
            type: string
            enum: [PC, PS5, Xbox Series X, Switch]
        specifications:
          type: object
          description: System requirements (CPU, GPU, RAM) data structure.
        genre:
          type: string
          example: 'Action RPG'
    
    # 2. New User Registration Input
    NewUser:
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
          example: gamer_guru_01
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          description: Raw password sent for Firebase Auth.
    
    # 3. Comment Input
    NewComment:
      type: object
      required:
        - content
      properties:
        content:
          type: string
          example: "I can't wait for this title, the graphics look amazing!"

    # 4. Favorite Request Input
    FavoriteRequest:
      type: object
      required:
        - game_id
      properties:
        game_id:
          type: string
          description: The ID of the game the user wants to favorite.
    
    # 5. Generic Error Response
    Error:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: "Bad Request: Missing required field 'title'."

  # --- REUSABLE SECURITY DEFINITIONS ---
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT # Expected Firebase Authentication Token (Milestone 3)
  
  # --- REUSABLE RESPONSES ---
  responses:
    Unauthorized:
      description: Authentication token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: { code: 401, message: "Unauthorized: Invalid token." }
    Forbidden:
      description: The user is authenticated but lacks necessary privileges (e.g., not an Admin).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: { code: 403, message: "Forbidden: Admin privilege required." }
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: { code: 404, message: "Game with ID 'XYZ' not found." }
    BadRequest:
      description: Invalid or malformed request data.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: { code: 400, message: "Bad Request: Malformed JSON or missing fields." }

# --- API PATHS (ENDPOINTS) ---
paths:
  
  # ----------------------------------------------------------------------
  # A. Public Endpoints (Milestone 2 & 4)
  # ----------------------------------------------------------------------
  
  /releases:
    get:
      tags: [Games]
      summary: Retrieve a list of upcoming and newly released games (Main Calendar).
      operationId: getReleases
      parameters:
        - in: query
          name: genre
          schema: { type: string }
          description: Filter games by a specific genre (e.g., 'RPG'). (Milestone 4)
        - in: query
          name: search
          schema: { type: string }
          description: Search by partial game title. (Milestone 4)
      responses:
        '200':
          description: Successfully retrieved list of games.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Game' }
        '400': { $ref: '#/components/responses/BadRequest' }

  '/games/{id}':
    get:
      tags: [Games]
      summary: Retrieve detailed information for a specific game.
      operationId: getGameById
      parameters:
        - in: path
          name: id
          schema: { type: string }
          required: true
          description: The ID of the game to retrieve.
      responses:
        '200':
          description: Successfully retrieved game details.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Game' }
        '404': { $ref: '#/components/responses/NotFound' }

    # The PUT and DELETE operations for this path must be aligned properly
    # to be siblings of the GET operation.
    put:
      tags: [Administration]
      summary: Admin-only. Update an existing game entry.
      operationId: updateGame
      security: [ { bearerAuth: [] } ] # Requires Admin Bearer Token
      parameters:
        - in: path
          name: id
          schema: { type: string }
          required: true
          description: The ID of the game to update.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Game' }
      responses:
        '200':
          description: Game successfully updated.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    
    delete:
      tags: [Administration]
      summary: Admin-only. Delete a game entry.
      operationId: deleteGame
      security: [ { bearerAuth: [] } ] # Requires Admin Bearer Token
      parameters:
        - in: path
          name: id
          schema: { type: string }
          required: true
          description: The ID of the game to delete.
      responses:
        '204':
          description: Game successfully deleted (No content).
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ----------------------------------------------------------------------
  # B. User/Interactive Endpoints (Milestone 3)
  # ----------------------------------------------------------------------
  
  /users:
    post:
      tags: [Users]
      summary: Register a new user account.
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewUser' }
      responses:
        '201':
          description: User successfully registered. Returns a success message or user token.
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: Conflict (Email or username already exists).

  '/users/{userId}/favorites':
    post:
      tags: [Users]
      summary: Allows a registered user to add a game to their personal favorites list.
      operationId: addFavoriteGame
      security: [ { bearerAuth: [] } ] # Requires Bearer Token
      parameters:
        - in: path
          name: userId
          schema: { type: string }
          required: true
          description: The ID of the user performing the action.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FavoriteRequest' }
      responses:
        '200':
          description: Game successfully favorited.
        '401': { $ref: '#/components/responses/Unauthorized' }

  '/games/{id}/comments':
    post:
      tags: [Users]
      summary: Allows a registered user to post a comment on a game.
      operationId: postComment
      security: [ { bearerAuth: [] } ] # Requires Bearer Token
      parameters:
        - in: path
          name: id
          schema: { type: string }
          required: true
          description: The ID of the game being commented on.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewComment' }
      responses:
        '201':
          description: Comment successfully posted.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ----------------------------------------------------------------------
  # C. Administration Endpoints (Milestone 2 & 3)
  # ----------------------------------------------------------------------
  
  '/games':
    post:
      tags: [Administration]
      summary: Admin-only. Create a new game entry.
      operationId: createGame
      security: [ { bearerAuth: [] } ] # Requires Admin Bearer Token
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Game' }
      responses:
        '201':
          description: Game successfully created.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' } # User is authenticated but not an Admin
        '400': { $ref: '#/components/responses/BadRequest' }
